In [38]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv("/content/adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [79]:
race_count = df['race'].value_counts()
race_count.tolist()

[27816, 3124, 1039, 311, 271]

In [110]:
round(df.loc[df['sex'] == 'Male', 'age'].mean(), 1)

39.4

In [103]:
print(df.loc[df['education'] == 'Bachelors', 'education'].count())
print(df['education'].count())
(df.loc[df['education'] == 'Bachelors', 'education'].count() / df['education'].count() * 100).round(1)

5355
32561

16.4

In [64]:
df['education'].value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [74]:
df['salary'].value_counts()

salary
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [81]:
df.loc[((df['education'] == 'Bachelors') | (df['education'] == 'Masters') |(df['education'] == 'Doctorate')) & (df['salary'] == '>50K')].shape[0]
higher_education = df.loc[((df['education'] == 'Bachelors') | (df['education'] == 'Masters') |(df['education'] == 'Doctorate')) & (df['salary'] == '>50K')].shape[0] / df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') |(df['education'] == 'Doctorate')].shape[0] * 100
print(higher_education)
lower_education = df.loc[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') |(df['education'] == 'Doctorate')) & (df['salary'] == '>50K')].shape[0] / df.loc[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') |(df['education'] == 'Doctorate'))].shape[0] * 100
print(lower_education)

46.535843011613935
17.3713601914639

In [85]:
df['hours-per-week'].min()

1

In [89]:
df.loc[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')].shape[0] / df.loc[df['hours-per-week'] == df['hours-per-week'].min()].shape[0] * 100

10.0

In [106]:
highest_earning_country = df.loc[(df['salary'] == '>50K'), 'native-country'].value_counts().idxmax()
df.loc[(df['salary'] == '>50K'), 'native-country'].value_counts().loc[highest_earning_country]/df.loc[(df['salary'] == '>50K'), 'native-country'].value_counts().sum() * 100

df.loc[(df['salary'] == '>50K') & (df['native-country'] == highest_earning_country)].shape[0] / df.loc[df['salary'] == '>50K'].shape[0] * 100

91.45517153424308

In [100]:
df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K'), 'occupation'].value_counts().idxmax()

'Prof-specialty'

In [122]:
country = df['native-country'].value_counts()
# print(country)
rich = df.loc[df['salary'] == '>50K', 'native-country'].value_counts()
# print(rich)
high = (df.loc[df['salary'] == '>50K', 'native-country'].value_counts()/df['native-country'].value_counts()).idxmax()
perc = round((df.loc[df['salary'] == '>50K', 'native-country'].value_counts()/df['native-country'].value_counts()).loc[high] * 100, 1)
perc

41.9